body{
	/*-webkit-perspective: 800px;*/
}

.profile-photo:hover{
	-webkit-transform: rotateY(1turn);
}

nav li a:hover {
	-webkit-transform: rotateX(1turn);
}

.profile-photo, nav li a, #logo h1{
	transition: -webkit-transform 1s ease;
}

#logo h1:hover, #logo h2:hover{
	text-shadow: 0px 0px 35px white;
}